body {
    font-family: "Louis Vuitton Web", "Louis Vuitton Web Fallback", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.btn-outline-success {
    color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:hover {
    background-color: chocolate;
    color: white;
    border-color: chocolate;
}

.text-center{
    color: chocolate;
}

.card-text {
    text-align: center;
}

.main-a:link {
    color : chocolate;
  }
.main-a:visited {
    color : chocolate;
  }
.main-a:hover {
    color : chocolate;
  }
.main-a:active {
    color : chocolate;
  }

  footer {
    background-color: black;
    color: white;
    margin-top: 100px;
  }

  .first-line {
    border-bottom: 1px solid #392d23;
  }

  .second-line a {
    color: white;
    text-decoration: none;
  }

  .third-line {
    display: none;
    text-align: center;
  }

  @media screen and (max-width: 48rem) {
    .second-line .row {
        display: flex;
        flex-direction: column; /* 컬럼들을 세로로 정렬 */
        text-align: center; /* 가운데 정렬 */
    }
    .second-line .col {
        margin-bottom: 10px; /* 항목 간격 추가 */
    }
    .third-line {
        text-align: center; /* 텍스트 중앙 정렬 */
        margin-top: 20px; /* 위아래 여백 추가 */
    }
    .flag-img {
        display: inline-block;
        vertical-align: middle; /* 플래그와 텍스트 정렬 */
        margin-right: 5px; /* 플래그와 텍스트 간격 추가 */
    }
}

#upButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #007bff;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    display: none; /* 기본적으로 숨김 */
}

#upButton:hover {
    background-color: #0056b3; /* hover 상태에서 색상 변경 */
}